<h1>
  Type stuff here
</h1>

<form phx-change='render'>
  <div id='raw-text'>
    <textarea name="input_md" phx-change="render">
      <%= @input_md %>
    </textarea>
  </div>
</form>

<div>
  <div id='rendered-text'>
    <%= @output_html %>
  </div>
</div>
