<h1>
  Type stuff here
</h1>


<div id='blog'>
  <div id='raw-text'>
  <form phx-change='render'>
    <textarea name="input_md" phx-change="render"><%= @input_md %></textarea>
  </form>
  </div>

  <div id="rendered-text">
    <%= raw @output_html %>
  </div>
</div>
